@use "../../scss/" as *;

.damageContainer{
    display: flex;
    flex-direction: column;
    gap: 12rem;

    .damageItem{
        background-color: $gray-100;
        border-radius: 8rem;
        padding: 8rem 12rem;
        display: flex;
        flex-direction: column;
        gap: 8rem;

        .damageTitle{
            @include fnt(20, 24, $weight:600, $font: $fontText, $color: $gray-900);
        }

        .containerDamageData{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                @include fnt(16, 20, $weight:400, $font: $fontText, $color: $gray-500);
            }
        }
    }
    .deleteButton{
        @include fnt(16, 20, $weight:400, $font: $fontText, $color: $error-500);
    }
}