@use "../../../scss/" as *;

.containerPageSlide{
    display: flex;
    flex-direction: column;
    gap: 32rem;
    margin-bottom: 150rem;

    .titleSlide{
        @include fnt(24, 32, $weight:600, $font: $fontText, $color: $gray-900);
    }

    .formContainer{
        display: flex;
        flex-direction: column;
        gap: 24rem;
    }

    .dateActs{
        @include fnt(20, 32, $weight:400, $font: $fontText, $color: $gray-900);
    }
}

